# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Python / Backend
backend/__pycache__/
backend/.venv/
backend/venv/
backend/env/
backend/*.py[cod]

# Node / Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
node_modules/

# YOLO & Large Assets (IMPORTANT)
backend/data/
backend/runs/
runs/
*.pt
*.log

# Laravel
frontend/.env
frontend/storage/*.key
frontend/vendor/
