# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/
bin/
lib/
share/

# Node modules
node_modules/

# Training Outputs (MUST BE IGNORED FOR GITHUB)
runs/
*.log
*.pckl
.ipynb_checkpoints/

# YOLO specific
*.pt
!models/*.pt  # Keep base models if needed, but usually ignored

# Datasets (Large files)
# data/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

runs/
backend/data/